$white-D7-100: rgb(215, 224, 232);
$white-D7-045: rgba(215, 224, 232, 0.45);
$white-D9-035: rgba(217, 217, 217, 0.35);
$white-D9-015: rgba(217, 217, 217, 0.15);
$white-FF-0035: rgba(255, 255, 255, 0.035);

$aqua-6B-100: rgb(107, 125, 140);
$darkBlue-0B-100: rgb(11, 15, 20);
$darkBlue-10-100: rgb(16, 23, 32);
$darkBlue-1E-100: rgb(30, 42, 54);
$darkBlue-2C-100: rgb(44, 54, 80);

$blue-4C-100: rgb(76, 110, 245);

$transition-04s: 0.4s;
$label-active-scale: 0.9;
$label-active-x: -0.2em;
$label-active-y: -2.6em;

$huge-font: 44;
$big-font: 32;
$above-average-font: 22;
$medium-font: 20;
$default-font: 18;
$small-font: 16;
$very-small-font: 14;